langchain==0.1.20
langchain-community==0.0.38
langchain-chroma
langchain-core==0.1.52
streamlit
pypdf
chromadb
ollama
# For offline TTS
piper-tts
# Optional but good for audio handling

faster-whisper
python-multipart
